<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<body>
    <div class="container">
        <img src="/static/2.png", width="550", height="225">

        <form method="POST" action="{{ url_for('login') }}">
         <p> Username <input type = "text" name = "username" /></p></br>
         <p> Password <input type = "password" name = "password" /></p></br>
         <p><input type = "submit" value = "submit" /></p>
        </form>

        <a href="{{ url_for('get_references') }}"> New to Mirror? Create an account. </a></br>


    </div>

</body>
</html>